@import './base.css';

/* font heading  */
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

/* font paragraph */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body, p, small {
  font-family: "Outfit", sans-serif !important;
  color: rgb(100, 99, 99);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Satisfy", cursive;
  color: rgb(109, 108, 108);
}